@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat+Alternates&display=swap');
    body{
        font-family: 'Montserrat Alternates', sans-serif;
        background-color: #5ccedd;
        color: #c5e0c9;
    }
    h1 {
        font-family: 'Barlow Condensed', sans-serif;
        background-color: blue;
        margin: 0 ;
    }
    a:hover{
        background-color:red; 
     }
     #header{ 
       background-color:aquamarine;
       color:aliceblue;
       text-align: center;
     }
     #navbar {
        background-color:beige;
        color:blanchedalmond;
        }
     #navbar > a {
         color:antiquewhite;
         padding:50px;
         display: inline-block;
         position:sticky;
         top:0;
 }
 #navbar > a :hover {
    background-color: aquamarine;
 }
 main {
    max-width: 768px;
    margin: 0 auto;
 }
 input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }
  input[type=text]:focus {
    border: 3px solid rgb(132, 124, 124);
  }
  input[type=submit]
  {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=reset]
  {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  @media screen and (max-width: 480px){
 #my_image{
      width: 100vw;
      height: auto;
    }
    #navbar {
      text-align: center;
    }
    #my_image2{
      float:none;
    }
  }
  body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("https://user-images.githubusercontent.com/26748614/96337246-f14d4580-1085-11eb-8793-a86d929e034d.jpg");
    background-size: cover;
    backdrop-filter:  brightness(50%);
}

canvas {
    display: block;
}

#canvas_container {
    width: 100%;
    height: 100vh;
}

button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.9em;
    background: #000000;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #ffffff;
    color: #000000;
}